// Breakpoint

$breakpointA: 1180 + px;
$breakpointB: 980 + px;
$breakpointC: 768 + px;
$breakpointD: 479 + px;


// Colors

$color--primary: rgba(28, 28, 28, 1);
$color--secondary: rgba(28, 28, 28, 0.5);
$color--warn: #f06a4d;
$color--border: #e2e6e9;
$color--link: #1c80cc;
$white: #fff;
$alpha: rgba(255, 255, 255, 0);

