@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 25px;
  font-style: normal;
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1c1c1c;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 20px;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.disable {
  display: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-right: 25px;
}

.products__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 400px;
}

.products__cart-block, .products__form-block, .products__precheck, .products__discount {
  border: 1px solid #e2e6e9;
  border-radius: 20px;
  padding: 22px 20px;
  margin-bottom: 25px;
}

.products__cart-block {
  padding: 24px;
}

.cart-block__header {
  padding-bottom: 50px;
}

.cart-block__message {
  font-size: 22px;
  text-align: center;
}

.cart-item {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__id {
  font-size: 14px;
  color: rgba(28, 28, 28, 0.5);
}

.cart-item__price {
  position: relative;
}

.cart-item__old-price {
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 14px;
}

.cart-item__old-price::after {
  content: "";
  display: block;
  width: 95%;
  height: 2px;
  position: absolute;
  top: 45%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: #f06a4d;
}

.cart-item__remove {
  width: 32px;
  height: 22px;
  padding: 0 5px;
  background-color: #fff;
}

.cart-item__remove:hover {
  cursor: pointer;
}

.cart-item__remove:hover path {
  fill: #f06a4d;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.cart-item__remove svg {
  pointer-events: none;
}

.precheck__row {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.precheck__price {
  font-weight: 600;
}

.precheck__discount {
  font-weight: 600;
  color: #f06a4d;
}

.form__title {
  padding-bottom: 5px;
}

.form__item {
  margin: 25px 0;
  position: relative;
}

.form__item-input {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #e2e6e9;
  outline: none;
}

.form__item-input::-webkit-input-placeholder {
  font-size: 0;
}

.form__item-input:-ms-input-placeholder {
  font-size: 0;
}

.form__item-input::-ms-input-placeholder {
  font-size: 0;
}

.form__item-input::placeholder {
  font-size: 0;
}

.form__item-input:focus ~ .form__item-label,
.form__item-input:not(:placeholder-shown) ~ .form__item-label {
  font-size: 12px;
  line-height: 14px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.form__item-input.input--error {
  border-bottom: 1px solid #f06a4d;
}

.form__item-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(28, 28, 28, 0.5);
  position: absolute;
  pointer-events: none;
  left: 0;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
}

.form__error {
  font-size: 12px;
  line-height: 14px;
  color: #f06a4d;
  text-align: center;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
}

.form__btn {
  padding: 6px 15px;
  background-color: #fff;
  border: 1px solid #e2e6e9;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1c1c1c;
}

.form__btn:hover {
  cursor: pointer;
  background-color: #e2e6e9;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__form {
  width: 50%;
  border: 1px solid rgba(28, 28, 28, 0.5);
  border-radius: 10px;
}

.search__form-item {
  margin-bottom: 0;
  margin-top: 5px;
  width: 300px;
}

.search__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 10px;
}

.search__result {
  border-top: 1px solid rgba(28, 28, 28, 0.5);
}

.search__result-item {
  padding: 5px 20px;
  border-bottom: 1px solid #e2e6e9;
  color: #1c1c1c;
}

.search__result-item:hover {
  color: #fff;
  background-color: rgba(28, 28, 28, 0.5);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.search__result-link {
  color: inherit;
}

.search__result-language {
  font-size: 12px;
  line-height: 14px;
}

.form-search__add {
  margin-top: -20px;
}

.error__mesage {
  padding: 5px 20px;
  text-align: center;
}

.result {
  margin-top: 50px;
  padding: 50px;
  border: 1px solid rgba(28, 28, 28, 0.5);
  border-radius: 10px;
}

.result__list {
  padding-top: 10px;
}

.result__item {
  padding: 20px;
}

.result__item:not(:last-child) {
  border-bottom: 1px solid #e2e6e9;
}

.result__link {
  color: #1c1c1c;
  font-weight: 600;
  color: #1c80cc;
}

.result__link:hover {
  border-bottom: 1px solid #1c1c1c;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.result__description {
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
}

.result__language {
  font-weight: 600;
  padding-top: 5px;
}

.result__topics {
  padding-top: 5px;
  color: #f06a4d;
}

.container-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  width: 50%;
}

.frame {
  margin-top: -25%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid rgba(28, 28, 28, 0.5);
  border-radius: 20px;
}

.link-main {
  display: block;
  margin: auto;
  margin-top: -30%;
  max-width: 250px;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
  color: #1c1c1c;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(28, 28, 28, 0.5);
  border-radius: 10px;
}

.link-main:hover {
  cursor: pointer;
  background-color: #e2e6e9;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
